.vertical-wrapper--theme-bit {
  background: #E29A27;
  background-image: radial-gradient(center, ellipse cover, #F5AB35 50%, #E29A27 100%);
  &, a {
    color: #fff;
  }
  .tooltip {
    color: #F5AB35;
  }
}
