@import 'h5bp';
@import 'normalize';
@import 'reset';
@import 'themes';
@import 'utils';

//unorganized:

//structure
.full-height {
  height: 100%;
}

.vertical-wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-between;
}

.horizontal-wrapper {
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
}

.flex-item {
  flex: 1 auto;
}

.flex-bigger {
  flex-grow: 2;
}

.center-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend .center;
}

//components

.header {
  display: flex;
  align-items: center;
  align-self: center;
}

.view-title-container {
  margin: 0;
  font-size: calc(1em + 2vw);
}

.navicon{
  &-button {
    border: none;
    background: none;
    left: .8em;
    position: absolute;
    padding: 0 .2em;
    margin: 0;
  }
  &-img {
    height: .8em;
    vertical-align: baseline;
  }
}

.valued-in-text {
  //old android fallback
  font-size: 1.1em;
  font-size: calc(1.1em + 1vw);
}

.price {
  //old android fallback
  font-size: 2em;
  font-size: calc(2em + 10vw);
}

.text-link {
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  padding-bottom: 3px;
  margin: .5em 0 1em;
  display: inline-block;
}

.github-img {
  height: 1em;
}
