$shadow: 0 2px 4px rgba(0,0,0,0.13);

@import 'h5bp';
@import 'normalize';
@import 'elements';
@import 'themes';
@import 'utils';

//unorganized:

//structure
.full-height {
  height: 100%;
}

.vertical-wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content:space-between;
}

.horizontal-wrapper {
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-between;
}

.flex-item {
  flex: 1 auto;
}

.flex-bigger {
  flex-grow: 2;
}

.center-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @extend .center;
}

//components

.header {
  display: flex;
  align-items: center;
  align-self: center;
}

.view-title-container {
  margin: 0;
  font-size: calc(1em + 2vw);
}

.navicon{
  &-button {
    border: none;
    background: none;
    left: .8em;
    position: absolute;
    padding: 0 .2em;
    margin: 0;
  }
  &-img {
    height: .8em;
    vertical-align: baseline;
  }
}

.valued-in-text {
  //old android fallback
  font-size: 1.1em;
  font-size: calc(1.1em + 1vw);
}

.price {
  //old android fallback
  font-size: 2em;
  font-size: calc(2em + 10vw);
}

.text-link {
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  padding-bottom: 3px;
  margin: .5em 0 1em;
  display: inline-block;
}

.tooltip {
  display: inline-block;
  background-color: #fff;
  font-size: .8em;
  padding: .5em 1em;
  margin-bottom: 1em;
  text-shadow: none;
  border-radius: 2px;
  &:before {
    content: '';
    border: solid;
    border-width: .5em .5em 0px .5em;
    border-color: #FFFFFF transparent;
    position: absolute;
    left: 50%;
    left: calc(50% - .5em);
    margin-top: 1.9em;
  }
}

.button {
  display: inline-block;
  border: 1px solid #fff;
  padding: .3em 1em;
  border-radius: 2px;
  box-shadow: $shadow, inset $shadow;
  opacity: .8;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &:active {
    box-shadow: none;
    text-shadow: none;
  }
}

.img-shadow {
  filter: drop-shadow($shadow);
}

.inline-img {
  height: .8em;
}
