<div class="vertical-wrapper vertical-wrapper--theme-bit center">
  <div class="flex-item center-contents">
    <h1 class="view-title-container">
      <button class="navicon-button invisible">
        <img class="navicon-img" src="images/navicon.svg" alt="Menu">
      </button>
      <span class="view-title">Bit Price</span>
    </h1>
  </div>
  <div class="flex-item flex-bigger center-contents">
    <div class="valued-in-text">1 Bit valued in USD is</div>
    <price class="price bold" currency="XBT" valued-in="USD"></price>
    <div><a class="text-link" ui-sref="infoView">What's this?</a></div>
  </div>
  <div class="flex-item center-contents">
    <tweet-button
      url="{{tweetInfo.url}}"
      via="{{tweetInfo.via}}"
      text="{{tweetInfo.text}}"
      related="{{tweetInfo.related}}"></tweet-button>
  </div>
  <div class="flex-item center-contents">
    <div><a class="text-link" href="https://twitter.com/bitjson">@bitjson</a></div>
    <div>
      <a href="https://github.com/bitprice/app">
        <img src="images/github.svg" alt="Menu">
      </a>
    </div>
  </div>
</div>
